<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello FastBlog!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">

      <main role="main">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!--<a class="navbar-brand" href="#">FastBlog</a>-->
          <%= link "FastBlog", to: page_path(@conn, :index), class: "navbar-brand" %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link "Home", to: page_path(@conn, :index), class: "nav-link" %>
                <!--<a class="nav-link" href="#">Home</a>-->
              </li>
              <li class="nav-item">
                <%= link "Authors", to: user_path(@conn, :index), class: "nav-link" %>
                <!--<a class="nav-link" href="#">Authors</a>-->
              </li>
              <li class="nav-item">
                <%= link "Posts", to: post_path(@conn, :index), class: "nav-link" %>
                <!--<a class="nav-link" href="#">Posts</a>-->
              </li>
              <!--
              <li class="nav-item">
                <%= link "Register", to: registration_path(@conn, :new) %>
              </li>

              -->
              <%= if logged_in?(@conn) do %>
                <li class="nav-item"></li><%= link "New post", to: post_path(@conn, :new), class: "nav-link", style: "padding-top: 15px" %></li>
                <li class="nav-item"><%= link "Logout", to: session_path(@conn, :delete), method: :delete, class: "nav-link", style: "padding-top: 15px" %></li>
              <% else %>
                <li class="nav-item"><%= link "Login", to: "/login", class: "nav-link", style: "padding-top: 15px" %></li>
              <% end %>

            </ul>
          </div>
        </nav>
        <%= render @view_module, @view_template, assigns %>
        <!--
        <%= if logged_in?(@conn) do %>
          <li><%= current_user(@conn).email %></li>
          <li><%= link "Logout", to: session_path(@conn, :delete), method: :delete %></li>
        <% else %>
          <li><%= link "Login",    to: "/login" %></li>
          <li><%= link "Register", to: registration_path(@conn, :new) %></li>
        <% end %>

        -->
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
